@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

@mixin setBlockCenter() {
  margin: 0 auto;
}

@mixin setMarginAndPadding($margin-size, $padding-size) {
  margin: $margin-size;
  padding: $padding-size;
}

$border-width: 1px;

body {
  height: 100vh;
  overflow: clip;
}

.nav-link {
  cursor: pointer;
}

.modal-body {
  font-family: "Courier Prime", monospace;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */

  iframe {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}

.page-container {
  @include setBlockCenter();
  width: 100vw;
  height: 100%;
  border: $border-width solid black;

  .row {
    @include setMarginAndPadding(0, 0);
    max-height: 100%;

    .top-bar {
      padding: 0.5rem 1rem;
      border-bottom: $border-width solid black;

      .btn {
        padding: 0 0.3rem;
      }
    }

    textarea {
      resize: none;
      border-style: none;
      font-family: "Courier", sans-serif;
    }

    textarea:focus {
      outline: none;
    }

    #preview {
      @include setMarginAndPadding(0, 0);
      height: 100%;
      padding: 0 8px;
    }
  }
}

.page-container#md-preview {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-height: 80% !important;
  }
}

@media screen and (min-width: 992px) {
  main {
    .page-container {
      max-width: 50%;
    }

    #md-editor {
      float: left;
    }

    .page-container#md-preview {
      display: inline-block;
    }
  }
}
