$border-width: 1px;

@mixin setBlockCenter() {
  margin: 0 auto;
}

@mixin setMarginAndPadding($margin-size, $padding-size) {
  margin: $margin-size;
  padding: $padding-size;
}

body {
  height: 100vh;
}

.nav-link {
  cursor: pointer;
}

.modal-body {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.page-container {
  @include setBlockCenter();
  width: 100vw;
  height: 100%;
  border: $border-width solid black;

  .row {
    @include setMarginAndPadding(0, 0);
    max-height: 100%;

    #top-bar {
      padding: 0.5rem 1rem;
      border-bottom: $border-width solid black;

      .btn {
        padding: 0 0.3rem;
      }
    }

    textarea {
      resize: none;
      border-style: none;
      font-family: "Courier", sans-serif;
    }

    textarea:focus {
      outline: none;
    }
  }
}
